:root {
    --font-family: Lato, sans-serif;
    --font-size: 16px;
    --radius: 5px;
    --primary-color: #fab229;
    --primary-color-darken: #d99c38;
    --control-border: rgb(180, 180, 180);
    --control-background: rgb(250, 250, 250);
    --control-background-disabled: rgb(200, 200, 200);
    --fieldset-border: rgb(230, 230, 230);
    --max-size: 660px;
}

::selection {
    background: var(--primary-color);
    color: #242424;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    text-align: center;
    margin: 0;
    padding: 0 0 100px 0;
}

h2 {
    background: #eee;
    font-weight: 300;
    font-size: 22px;
    padding: 3px 0;
}

fieldset {
    display: inline-block;
    border: 1px solid var(--fieldset-border);
    border-radius: var(--radius);
    vertical-align: top;
    width: calc(100% - 20px);
}

textarea {
    font-size: var(--font-size);
    background: var(--control-background);
    border: 1px solid var(--control-border);
    border-radius: var(--radius);
    padding: 10px;
    display: inline-block;
    width: 100%;
}

textarea[id$="output"] {
    background: var(--control-background-disabled);
}

select {
    display: block;
    margin: 10px auto;
    width: 100%;
}

button {
    font-family: var(--font-family);
    font-size: var(--font-size);
    border-radius: var(--radius);
    border: none;
    padding: 5px 10px;
    margin: 5px auto;
    cursor: pointer;
    background: var(--primary-color);
    display: block;
    width: 100%;
}

button:active {
    background: var(--primary-color-darken);
}

.component-content {
    padding: 0 10px;
    max-width: var(--max-size);
    margin: 0 auto;
}

.hide {
    display: none;
}
