:root {
    --font-family: Lato, sans-serif;
    --font-size: 16px;
    --radius: 5px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    text-align: center;
}

fieldset {
    display: inline-block;
    border: 1px solid rgb(250, 250, 250);
    border-radius: var(--radius);
}

textarea {
    font-size: var(--font-size);
    background: rgb(250, 250, 250);
    border: 1px solid rgb(180, 180, 180);
    border-radius: var(--radius);
    padding: 10px;
    display: block;
    width: 300px;
}

textarea[id$="output"] {
    background: rgb(200, 200, 200);
}

button {
    font-family: var(--font-family);
    font-size: var(--font-size);
    border-radius: var(--radius);
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
    background: #fab229;
    display: block;
    width: 100%;
}

button:active {
    background: #d99c38;
}
