.proportions input {
    font-size: var(--font-size);
    background: var(--control-background);
    border: 1px solid var(--control-border);
    border-radius: var(--radius);
    padding: 10px;
    display: block;
    width: 300px;
    text-align: center
}

.proportions input:disabled {
    background: var(--control-background-disabled);
}

.proportions hr {
    width: 50%;
    margin: 15px auto;
}
