#proportions fieldset {
    width: 100%;
    min-width: 200px;
    max-width: calc(50% - 35px);
}

#proportions input {
    font-size: var(--font-size);
    background: var(--control-background);
    border: 1px solid var(--control-border);
    border-radius: var(--radius);
    padding: 10px;
    text-align: center;
    width: 100%;
}

#proportions input:disabled {
    background: var(--control-background-disabled);
}

#proportions hr {
    width: 50%;
    margin: 15px auto;
}
